<footer>
  <div class="container">
    <div class="footer-nav clearfix">
      <div class="pull-left">
        <%= link_to "Help", "#", target: "_blank" %>
        <a href="#" class="">Privacy Policy</a>
        <a href="#" class="">Terms of Service</a>
      </div>

      <div class="pull-right">
        <a href="http://www.priism.de" target="_blank">priism.de</a>
      </div>
    </div>
  </div>
</footer>
