<div class="row">
  <% @gallery.photos.each do |photo| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="<%= photo.image(:medium_s) %>" alt="...">
        <div class="caption">
          <select class="form-control">
            <option value="1">10x13</option>
            <option value="2">9x13</option>
            <option value="3">9x15</option>
          </select>
          <br>
          <a href="#" class="btn btn-primary btn-block" role="button">Add to cart</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
