@import "_variables";

$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.1.0/fonts"; // for referencing Bootstrap CDN font files directly
@import "font-awesome/scss/font-awesome.scss";
@import "bootstrap-sass/lib/bootstrap.scss";
@import "bootstrap-tagsinput/dist/bootstrap-tagsinput";
@import "jquery-file-upload/css/jquery.fileupload";
@import "jquery-file-upload/css/jquery.fileupload-ui";
@import "redactor";


.bootstrap-tagsinput {
  display: block;
}

// dropdown
.tt-dropdown-menu {
  background: white;
  border-top: 1px solid $grey-light;
  border-bottom-left-radius: $base-radius;
  border-bottom-right-radius: $base-radius;
  box-shadow: 0 1px 3px rgba($black, 0.1);
  padding: 0;
  text-align: left;
  width: 350px;

  .active,
  .tt-cursor {
    background: $brand-primary;
    color: white !important;

    a {
      color: white;
    }
  }
}

.tt-header {
  background: $grey-super-light;
  color: text-color;
  font-weight: bold;
  display: block;
  padding: $space-mini $space-small;
  margin: 0 0 $space-mini 0;
}

.empty-message {
  padding: $space-mini $space-small;
  margin-bottom: $space-mini;
}

.tt-suggestions {
  padding-bottom: $space-mini;
}

.tt-suggestion {
  @include clearfix();

  padding: $space-tiny $space-mini;
  text-align: left;


  .users-grid-item {
    @include make-sm-column(12);

    display: block;
    margin: 0;
    padding: $space-small $space-small;
  }

  .tt-question,
  .tt-project {
    display: block;
    padding: $space-mini $space-small;
  }
}
