.avatar {
  display: block;

  img {
    border-radius: 5%;
    max-width: 100%;
  }

  .label {
    bottom: $space-mini;
    left: 50%;
    position: absolute;
    margin-left: -23px;
    z-index: 2;
  }
}

.page-header {
  border-color: $grey-light;
  margin-top: 0;

  h1, h2, h3, h4 {
    font-weight: 300;
    margin-top: 0;

    small {
      color: $grey;
    }
  }
}
