.avatar {
  display: block;

  img {
    border-radius: 5%;
    max-width: 100%;
  }

  .label {
    bottom: $space-mini;
    left: 50%;
    position: absolute;
    margin-left: -23px;
    z-index: 2;
  }
}
